@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
body {
  font-family: 'Allerta Stencil', sans-serif;
  height: 300vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas: "header header" "main     main" "footer footer"; }
  @media screen and (max-device-width: 800px) and (max-device-height: 1280px) and (orientation: portrait) {
    body {
      height: 300vh;
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5% 90% 5%;
      grid-template-areas: "header header" "main     main" "footer footer"; } }
  @media screen and (max-device-width: 800px) and (max-device-height: 1280px) and (orientation: landscape) {
    body {
      height: 600vh;
      width: 100vw; } }
  body a {
    text-decoration: none;
    color: #FFFFFF; }
    body a :hover {
      color: whitesmoke; }
  body header {
    background: linear-gradient(90deg, #04BEC4 15%, #034C8C 85%);
    color: #FFFFFF;
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo loja"; }
    @media screen and (max-device-width: 800px) and (max-device-height: 1280px) and (orientation: portrait) {
      body header {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        grid-template-areas: "logo loja"; }
        body header #pipe {
          display: none; } }
    body header #logo {
      grid-area: logo; }
      body header #logo #jh-timol {
        height: 125px;
        width: 125px; }
    body header #loja {
      grid-area: loja;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
      padding: 25px; }
  body main {
    background-color: #03658C;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 30% 20% 30%;
    grid-template-areas: "video           video" "prod             prod" "quemsomos   quemsomos" "formulario formulario"; }
    @media screen and (max-device-width: 800px) and (max-device-height: 1280px) and (orientation: portrait) {
      body main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 38% 27%;
        grid-template-areas: "video           video" "prod             prod" "quemsomos   quemsomos" "formulario formulario"; }
        body main ul {
          margin-right: 20px; } }
    body main #video {
      background-color: darkred;
      grid-area: video; }
      body main #video #videotape {
        height: 100%;
        width: 100%; }
    body main #prod {
      background-color: darkblue;
      grid-area: prod;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50% 50%;
      grid-template-areas: "prod1 prod2" "prod3 prod4"; }
      @media screen and (max-device-width: 800px) and (max-device-height: 1280px) {
        body main #prod {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 25% 25% 25% 25%;
          grid-template-areas: "prod1 prod1" "prod2 prod2" "prod3 prod3" "prod4 prod4"; } }
      body main #prod #prod1 {
        border: solid 1px rgba(0, 0, 0, 0.09);
        background-color: whitesmoke;
        grid-area: prod1; }
      body main #prod #prod2 {
        border: solid 1px rgba(0, 0, 0, 0.09);
        background-color: whitesmoke;
        grid-area: prod2; }
      body main #prod #prod3 {
        border: solid 1px rgba(0, 0, 0, 0.09);
        background-color: whitesmoke;
        grid-area: prod3; }
      body main #prod #prod4 {
        border: solid 1px rgba(0, 0, 0, 0.09);
        background-color: whitesmoke;
        grid-area: prod4; }
      body main #prod #top, body main #prod #mini, body main #prod #residence, body main #prod #top5 {
        height: 100%;
        width: 100%; }
    body main #quemsomos {
      background-color: #034C8C;
      color: #FFFFFF;
      padding: 10px;
      grid-area: quemsomos;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;
      grid-template-areas: "nos nos" "val val"; }
      body main #quemsomos #nos {
        grid-area: nos; }
        body main #quemsomos #nos #somos-titulo {
          text-align: center;
          border: solid 1px #FFFFFF;
          background-color: whitesmoke;
          color: #034C8C;
          margin-bottom: 5px; }
        body main #quemsomos #nos #somos {
          background-color: whitesmoke;
          color: #034C8C;
          padding: 10px; }
          body main #quemsomos #nos #somos i {
            color: #034C8C; }
      body main #quemsomos #val {
        grid-area: val; }
        body main #quemsomos #val #val-titulo {
          text-align: center;
          border: solid 1px #FFFFFF;
          background-color: whitesmoke;
          color: #034C8C;
          margin-bottom: 5px; }
        body main #quemsomos #val #mivival {
          text-align: center;
          border: solid 1px #FFFFFF;
          background-color: whitesmoke;
          color: #034C8C; }
    body main #formulario {
      background-color: whitesmoke;
      grid-area: formulario;
      padding: 12px;
      overflow-y: scroll;
      text-align: center; }
      body main #formulario #msg, body main #formulario #nome {
        margin-bottom: 10px; }
      body main #formulario #email, body main #formulario #enviar {
        margin-bottom: 20px; }
  body footer {
    background-color: black;
    grid-area: footer; }
